.color-div {
    width: 200px;
    height: 200px;
    margin: 20px;
    display: inline-block;
    text-align: center;
    line-height: 200px;
    font-size: 24px;
}

#div1 {
    background-color: #ff6666; 
}

#div2 {
    background-color: #66ccff; 
}

#div3 {
    background-color: #99ff99; 
}
